body{
    background: rgb(56, 57, 59);
    font: normal 15pt Arial;
}

header{
    color: rgba(255, 255, 255, 0.295);
    text-align: center;
}

section{
    background: rgba(255, 255, 255, 0.534);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow:  4px 4px 10px rgba(0, 0, 0, 0.363);
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}