* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  background-image: linear-gradient(to left, #ffffff, #404F62);
}

h1 {
  color: #27292A;
  font: 700 28px Helvetica;
  text-align: center;
  margin: 14px;
  padding-top: 18px;
}

section {
  background-color: lightgrey;
  margin: 0 auto;
  width: 200px;
  height: 28vh;
  border-radius: 4px;
  box-shadow: 2px 4px 8px black;
}

div {
  margin: 12px;
  padding: 12px;
  text-align: center;
}

a {
  display: block;
  font: 20px Helvetica;
  color: black;
  text-decoration: none;
  padding-top: 18px;
}

.material-icons {
  position: absolute;
  display: block;
  top: 210px;
  margin-left: 28px;
}